<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="text-white">×</span>
  </button>
    <h4 class="modal-title w-100 text-white" id="myModalLabel">Alumnas y Alumnos de Telesecundaria</h4>
</div>
<div class="modal-body">
    <p>
        Para ustedes que estudian primero o segundo de Telesecundaria, en este sitio encontrarán materiales de audio para apoyar sus actividades de aprendizaje del inglés.
    </p>
    <p>
        Estos materiales les ayudarán a escuchar, a pronunciar adecuadamente y a comprender de qué manera utilizar este idioma en conversaciones con sus compañeros, con su maestra o maestro y también con otras personas. Además les ayudarán a escribir palabras,
        frases y oraciones correctamente.
    </p>
    <p>
        Para usarlos, sólo sigan la organización de su libro de Apuntes de inglés, que como saben es por unidades, lecciones y actividades.
    </p>
    <p>
        Pueden utilizarlos en su salón durante la clase, o en su casa para repasar y reforzar sus aprendizajes, pues pueden ESCUCHARLOS EN LÍNEA o descargarlos y utilizarlos cuando quieran.
    </p>
    <p>Los invitamos a disfrutar el aprendizaje de una lengua extranjera y que descubran las posibilidades de apoyo de estos materiales.</p>
</div>