<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="text-white">×</span>
  </button>
    <h4 class="modal-title w-100 text-white" id="myModalLabel">Maestras y Maestros de Telesecundaria</h4>
</div>
<div class="modal-body">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 mb-lg-0 mb-4">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/read.png" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 mb-md-0 mb-4">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/think.png" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 mb-0">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/write.png" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 mb-0">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/speak.png" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <p>
        Contempladas en el libro de APUNTES de la asignatura de inglés. Los materiales vienen organizados por unidades, lecciones y actividades.
    </p>
    <p>
        Para obtener el mayor provecho de estos materiales, les sugerimos considerar en sus actividades de planeación y de clase lo siguiente:
    </p>

    <ul>
        <li>Explorar los materiales por unidades, lecciones y actividades.
        </li>
        <li>Utilizar los materiales en el aula después de ver el programa de televisión; para ello les sugerimos utilizar la opción de DESCARGA de los materiales, grabarlos en un disco o memoria USB y reproducirlos durante su clase cuando lo consideren conveniente.
        </li>
        <li>Recomendar a sus alumnos este sitio para apoyar el trabajo de tareas o repaso en casa.
        </li>
    </ul>


</div>