<section class="container">
    <mdb-carousel class="carousel  carousel-fade" [animation]="">
        <mdb-carousel-item>
            <img class=" d-block w-100 " style="height: 350px;" src="../../assets/img/bannerINGLES.png " alt="First slide ">
        </mdb-carousel-item>
    </mdb-carousel>
</section>
<div class="container">

    <!-- Section: Blog v.2 -->
    <section class="text-center">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold ">Bienvenidos</h2>
        <!-- Section description -->
        <p class="dark-grey-text  mx-auto mb-5 text-justify ">
            El lenguaje es una actividad comunicativa, cognitiva y relfexiva mediante la cual expresamos, intercambiamos y defendemos nuestras ideas; establecemos y mantenemos relaciones interpersonales; accedemos a la información; participamos en la construcción
            del conocimiento, organizamos nuestro pensamiento y reflexionamos sobre nuestro propio proceso de creación discursiva e intelectual.<br> <br>El inglés, por su condición de lengua extranjera, no está presente en la mayoría de los
            ámbitos de la actividad social de los alumnos.<br>En consecuencia resulta fundamental promover en el aula los usos sociales de esta lengua a través de ambientes sociales de aprendizaje que compensen la ausencia del inglés en el contexto extraescolar
        </p>
        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            <div class="col-xl-6 col-md-6 mb-3 mb-5  text-center">
                <p class="font-weight-bold">Alumnas y Alumnos de Telesecundaria<br></p>
                <img src="../../assets/img/alumnos.png" class="img-fluid z-depth-1 " alt="Responsive image" width="30%" (click)="openModal()">

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-6 col-md-6 mb-3 text-center">
                <p class="font-weight-bold"> Maestras y Maestros de Telesecundaria <br></p>

                <img src="../../assets/img/maestros.png" class="img-fluid z-depth-1 " alt="Responsive image" width="30%" (click)="openModal2()">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-4 mb-lg-0 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="../../assets/img/ing1.png" alt="Sample image">
                    <a [routerLink]="['/material']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>



            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-4 mb-md-0 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="../../assets/img/ing2.png" alt="Sample image">
                    <a [routerLink]="['/material']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>



            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-4 mb-0">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="../../assets/img/ing3.png" alt="Sample image">
                    <a [routerLink]="['/material']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>



            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Blog v.2 -->


</div>